@model Petshop.Models.Servico

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Criar</h1>

<h4>Serviços</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="animalId" class="control-label"></label>
                <input asp-for="animalId" class="form-control" />
                <span asp-validation-for="animalId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClienteId" class="control-label"></label>
                <input asp-for="ClienteId" class="form-control" />
                <span asp-validation-for="ClienteId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TipoServicoId" class="control-label"></label>
                <input asp-for="TipoServicoId" class="form-control" />
                <span asp-validation-for="TipoServicoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="valorTotal" class="control-label"></label>
                <input asp-for="valorTotal" class="form-control" />
                <span asp-validation-for="valorTotal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="horario" class="control-label"></label>
                <input asp-for="horario" class="form-control" />
                <span asp-validation-for="horario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Data" class="control-label"></label>
                <input asp-for="Data" class="form-control" />
                <span asp-validation-for="Data" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
